@model App2025.Models.AdminUser
@{
    ViewData["Title"] = "Home Page";
}
<partial name="_Notification" />
<div class="text-center text-white">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <h1>Home page</h1>
</div>
