html {
  font-size: 14px;
}
/*login page CSS*/
/* Center the form */
.login-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1d2671, #c33764);
}

/* Glass effect card */
.login-card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    color: #fff;
}

    /* Inputs */
    .login-card .form-control {
        background: rgba(255, 255, 255, 0.85);
        border: none;
    }

    /* Button */
    .login-card .btn-primary {
        padding: 10px;
        font-weight: 600;
    }


/* login End */

@media (min-width: 768px) {
    html {
        font-size: 16px;
        
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
   
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}*/
html, body {
    height: 100%;
    margin: 0;
    overflow-y: hidden; /* REMOVE vertical scrollbar */
}






